{{!< default}}

<div class="row">
  <div class="col-md-9 col-sm-12">
    <section class="posts">{{#foreach posts}}
      <article>
        <h3 class="post-header"><a href="{{url}}">{{title}}</a></h3>
        <span>{{date published_at format="MMMM DD, YYYY"}}</span>
        <hr>
          {{content}}
        <section class="post-footer">
          Written {{date published_at format="MMMM DD, YYYY"}} by <a href="#">{{author.name}}</a>
        </section>
      </article>
    {{/foreach}}</section>
  </div>
  <div class="col-md-3">
    <section class="list-of-posts">
      <h5>More blog posts</h5>
      <ul>
          {{#foreach posts}}
            <li><i class="glyphicon glyphicon-leaf"></i><a href="{{url}}">{{title}}</a></li>
          {{/foreach}}
      </ul>
    </section>
  </div>
</div>

